---
import Project from './Project.astro';
import scribeLogo from '../../images/scribeLogo.jpeg';
import sustainLogo from '../../images/sustain.jpeg';
import cnnLogo from '../../images/nnLogo.png';
import cgLogo from '../../images/cgLogo.svg';
import ghLogo from '../../images/logo.jpg';

// TODO: Finish adding alt tags to project components
---


<div class="p-4 flex justify-evenly">
    <Project title="Sustain.io" link="/projects/sustainio" alt="" path={sustainLogo}/>
    <Project title="Scribe" link="/projects/scribe" path={scribeLogo}/>
    <Project title="C-NeuralNet" link="/evan-portfolio/projects" path={cnnLogo}/>
    <Project title="CrossGen" link="/evan-portfolio/projects" path={cgLogo}/>
    <!-- <Project title="NBA Regression Model" link="/projects/basketbrain" path={ghLogo}/> -->
</div>